{% extends 'base.html.twig' %}

{% block title %} Inicio {% endblock %}
    {% block body %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                <div class="mb-3">
                    <h1>Bienvenido {{ app.user.username }}
                </div>
                <div class="mb-3">
                    En este proyecto puedes gestionar un grupo de bibliotecas así como los libros que hay registrados en cada una de ellas.
                    <br>
                    Tienes diversas funcionalidades:
                    <ul>
                        <li>Crear nuevas bibliotecas <span class="badge bg-success">Hecho</span></li>
                        <li>Visualizar todas las bibliotecas <span class="badge bg-success">Hecho</span></li>
                        <li>Ver una viblioteca en concreto <span class="badge bg-success">Hecho</span></li>
                        <li>Borrar una biblioteca <span class="badge bg-success">Hecho</span></li>
                        <li>Editar una viblioteca ya existente <span class="badge bg-success">Hecho</span></li>
                        <li>Ver los libros que tiene una bilioteca en concreto <span class="badge bg-success">Hecho</span></li>
                        <li>Modificar la información de un libro en concreto <span class="badge bg-success">Hecho</span></li>
                        <li>Borrar un libro en concreto <span class="badge bg-success">Hecho</span></li>
                        <li>Añadir nuevos libros <span class="badge bg-success">Hecho</span></li>
                    </ul>

                </div>
                <div class="mb-3">
                    Ya tienes permisos para acceder a las <a href="/dashboard">bibliotecas</a>.
                </div>

            {% else %}
            <div class="container logincenter">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center h-100">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <img class="animate__animated animate__rotateIn" src="/img/library.png" alt="Logo del proyecto" />
                                        <h3>Inicia sesión</h3>
                                </div>
                                <div class="card-body">
                                
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img class="animate__animated animate__rotateIn fas" src="/img/email.png" alt="Email" /></span>
                                            </div>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                            
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img class="animate__animated animate__rotateIn fas" src="/img/padlock.png" alt="Contraseña" /></span>
                                            </div>
                                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                        </div>
                                        <div class="row align-items-center remember">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <div class="checkbox mb-3">
                                                <label>
                                                    <input type="checkbox" name="_remember_me"> Recuerdame
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>     
            {% endif %}
            </form>
            {% endblock %}



