{% extends 'base.html.twig' %}

{% block title %}Registro de bilioteca {% endblock %}

{% block body %}
<h1>Edita la biblioteca "{{nombre_biblioteca}}"</h1>
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    {{form(formularioeditarBiblioteca)}}
{% endblock %}
